@charset "UTF-8";

::selection {background-color:rgba(var(--color-rgb), 0.8); color:white;}

input:-webkit-autofill {-webkit-box-shadow:0 0 0 50px white inset;-webkit-text-fill-color: #333;}
input:-webkit-autofill:focus {-webkit-box-shadow: 0 0 0 50px white inset;-webkit-text-fill-color: #333;}

.btn,
[type=button],
[type=submit],
[type=reset] {display:inline-block; height:30px; line-height:30px; padding:0 1.2em; border:1px solid #ccc; border-radius:var(--element-radius); border-right-color:#aaa; border-bottom-color:#aaa; background-image:linear-gradient(#f6f6f6, #ddd); cursor:pointer; box-shadow:2px 2px 5px transparent; transition:all 0.1s linear;}

.btn:not([disabled]):focus,
.btn:not([disabled]):hover,
[type=button]:not([disabled]):hover,
[type=submit]:not([disabled]):hover,
[type=reset]:not([disabled]):hover,
[type=button]:not([disabled]):focus,
[type=submit]:not([disabled]):focus,
[type=reset]:not([disabled]):focus,
select:not([disabled]):focus {box-shadow:var(--light-shadow); outline:none;}

.btn[disabled],
.btn-disabled,
[type=button][disabled],
[type=submit][disabled],
[type=reset][disabled],
[type=reset][disabled],
[type=button][disabled],
[type=submit][disabled],
[type=reset][disabled],
select[disabled] {border-color:#cccccc !important; cursor:default !important;color:#aaaaaa !important;;text-shadow:1px 1px 1px white !important; box-shadow:none !important;}

.btn-primary:not([disabled]),
[type=submit]:not([disabled]),
[type=submit]:not([disabled]):focus,
.btn-primary:not([disabled]):focus {background-image:linear-gradient(#1a75f2, #1a70e1);color:white;border:1px solid var(--color);outline:none;text-shadow: none;}

.btn-primary:not([disabled]):hover,
[type=submit]:not([disabled]):hover,
.btn-primary:not([disabled]):hover {background-image:linear-gradient(#1a79ff, #1a79f9); color:white; box-shadow:var(--light-shadow)}

.btn-outline {background:#fff;border: 1px solid #aaa;border-radius:var(--element-radius);padding-left:0.5em;padding-right:0.5em;}
.btn-outline:hover {border-color:var(--color);color: var(--color);}

select,
textarea,
input[type=text],
input[type=date],
input[type=number],
input[type=url],
input[type=email],
input[type=password],
input[type=search] {height:30px;line-height:27px;padding:0 0.5em;box-sizing:border-box;  outline:none;width:200px;font-family:var(--font-family);background: #ffffff21;}

select,
textarea,
input[type=text],
input[type=date],
input[type=number],
input[type=url],
input[type=email],
input[type=password],
input[type=search] {border:none; border-bottom:1px solid #aaa;}

textarea {height:60px; resize:vertical; min-height:30px; min-width:200px;}

textarea.error,
input[type=text].error,
input[type=number].error,
input[type=url].error,
input[type=email].error,
input[type=password].error,
input[type=search].error {border-color:red; background-color:#ff000014; color:red;}

select:hover,
textarea:hover,
input[type=text]:hover,
input[type=date]:hover,
input[type=number]:hover,
input[type=url]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=search]:hover {box-shadow: 0px 2px 1px 0px #cccccc7d;border-color:var(--color);outline:none;}

input[type=number] {width:80px;text-align:center;}

.form-item li {margin-bottom: 1em;}
.form-item.full-item input {width:100%;}

form .require-flag {color:red;}